HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.swp
*.swo
*~
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Логи и БД ###
*.log
logs/
*.db
*.h2.db
*.mv.db
*.trace.db

### Локальные конфиги ###
application-local.properties
application-dev.properties
*.secret.*
*.local.*
*.dev.*

### Maven ###
.m2/

### Docker ###
docker-compose.override.yml
*.env